body{
    /*background-image: url("math_wallpaper.jpg");*/
}

.space{
    padding: 5vh;
}

h1{
    text-align: center;
}

#calc{
    text-align:center;
}

#display{
    background-color: orange;
    color: white;
    height: 20vh;
    width: 48.5vw;
    text-align: right;
    font-size: 4em;
}

#buttons{
    height: 10vh;
    width: 12vw;
    background-color: blue;
    color: white;
    border: 1px solid white;
}

#equal{
    height: 10vh;
    width: 12vw;
    background-color: blue;
    color: white;
    border: 1px solid white;
}