#calculator{
    width: 35vw;
    margin: auto;
    margin-top: 5vh;
    background-color: #000;
    /*border: 5px solid #008248;*/
    border-radius: 10px;
    padding-top: 1vh;
}

#total {
    background-color: #FFF;
    height: 20vh;
    width: 32vw;
    font-size: 4em;
    text-align: right;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    color: #008248;
}

a {
    cursor: pointer;

}

#operators a {
    display: inline-block;
    width: 5vw;
    /*height: 14vh;*/
    margin-left: 1.5vw;
    /*margin-right: 1vw;*/
    text-align: center;
    color: #008248;
    font-size: 43px;
    /*border-radius: 10px;*/
    text-decoration: none;
    background-color: #FFF;
    /*padding: 5px;*/
}

#numbers a {
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-size: 43px;
    width: 5vw;
    /*height: 14vh;*/
    /*border-radius: 10px;*/
    text-decoration: none;
    background-color: #008248;
    margin: 1vw 3vw;
}