#calculator {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

#display {
    text-align: right;
    width: 48vw;
    height: 16vh;
}

#bigBtn {
    width: 23vw;
    margin: 4px;
}

#btn {
    width: 11.5vw;
    margin: 1px;
}